body,
h1 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%
    }

.bgimg {
    background-image: url('https://icecube-us-844.icedrive.io/thumbnail?p=N17lI_FAAbKr5I6I842mOWCRvFKOTS8mwnBCv9lqTgskpTLuDEgg6uIvBC.aO53p.1FhhVOLEx7yxc.lvzcefmJjIueBzPUfljoMuTeVKtLgvTAHvNnEiQj9Tev8ouoq&w=1024&h=1024&m=cropped');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    }

a,
u {
    text-decoration: none;
    }



